<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns = "https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation = "https://jakarta.ee/xml/ns/jakartaee
        https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
        version = "6.1">

    <display-name>Air Ticket Registration Application</display-name>

    <listener>
        <listener-class>listener.InitAttributeServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>listener.MigrationContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>listener.DestroyServletContextListener</listener-class>
    </listener>
</web-app>